[workspace]
members = [
    "programs/*"
, "tests"]
resolver = "2"

[workspace.dependencies]
blake3 = "=1.5.4"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
